@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: #0C0C0C;
    font-family: Inter, sans-serif;
    font-weight: normal;
    transform: all .2s ease;
    height:100vh;
}